{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "SQL_CONN": "Server=tcp:az-sql-prod-bturners.database.windows.net,1433;Database=az-db-prod;User ID=whse_app;Password=YOUR_PASSWORD_HERE;Encrypt=true;TrustServerCertificate=false;Connection Timeout=30;"
  }
}
